/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-mono-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/roboto-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/roboto-mono-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg');
  /* Legacy iOS */
}

/* space-mono */
@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SpaceMono-Regular.ttf');
}

/* bold */
@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SpaceMono-Bold.ttf');
}

/* italic */
@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SpaceMono-Italic.ttf');
}

/* bold italic */
@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/SpaceMono-BoldItalic.ttf');
}

/* bytesized */
@font-face {
  font-display: swap;
  font-family: 'Bytesized';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Bytesized-Regular.ttf');
}